<!DOCTYPE html>
<html ng-app="FleaMarketApp">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body ng-controller='AddProductController'>

<h2 style="text-align: center;margin-top: 20px;margin-bottom: 20px">Add a product</h2>
<form name = "form" ng-submit="form.$valid && addproduct()" novalidate>

    <div class="container">
        <div class="form-gourp" ng-class="{ 'has-error': form.$submitted }">
            <label><b>Name</b></label>
            <input class="form-control"
                   ng-model="Name"
                   type="text"
                   placeholder="Enter product name"
                   name="productname"
                   required>
            <div ng-messages="form.$submitted " class="help-block">
                <div ng-message="required">Product name is required</div>
            </div>
        </div>

    </div>

</form>

</body>
</html>